<a href="https://colab.research.google.com/github/kiselpd/HW5_ML/blob/main/price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#for my GoogleDisk
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/GoogleColab/HW5

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/GoogleColab/HW5

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('Train.csv')
test_df = pd.read_csv('Test.csv')

In [4]:
import datetime as dt
train_df["date"] = pd.to_datetime(train_df["date"]).map(dt.datetime.toordinal)
test_df["date"] = pd.to_datetime(test_df["date"]).map(dt.datetime.toordinal)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
train_df = train_df.drop(columns = ["id"])
test_df = test_df.drop(columns = ["id"])

In [7]:
train_df.columns

Index(['date', 'street_id', 'build_tech', 'floor', 'area', 'rooms', 'balcon',
       'metro_dist', 'g_lift', 'n_photos', 'kw1', 'kw2', 'kw3', 'kw4', 'kw5',
       'kw6', 'kw7', 'kw8', 'kw9', 'kw10', 'kw11', 'kw12', 'kw13', 'price'],
      dtype='object')

In [8]:
X, y = train_test_split(train_df, test_size=0.33, random_state=42,  shuffle = False)

In [9]:
from sklearn.impute import KNNImputer

In [10]:
imputer = KNNImputer(n_neighbors = 50)
X = imputer.fit_transform(X)
y = imputer.fit_transform(y)

In [11]:
X = pd.DataFrame(X, columns = train_df.columns)
y = pd.DataFrame(y, columns = train_df.columns)

In [12]:
y_train = X["price"]
X_train = X.drop(columns = ["price"])

In [13]:
y_test = y["price"]
X_test = y.drop(columns = ["price"])

In [14]:
X_train

,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,...,kw4,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13
0,734138.0,560.0,0.6,2.0,59.0,3.0,0.0,30.0,1.00,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,734138.0,667.0,1.1,10.0,50.0,2.0,1.0,25.0,0.44,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,734138.0,90.0,0.0,1.0,48.0,2.0,0.0,25.0,0.00,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,734138.0,94.0,1.0,3.0,62.0,3.0,1.0,30.0,0.48,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,734138.0,232.0,0.0,3.0,60.0,3.0,0.0,25.0,0.54,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66995,734503.0,412.0,0.0,8.0,59.0,3.0,0.0,10.0,1.00,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66996,734503.0,438.0,0.0,1.0,34.0,1.0,0.0,15.0,1.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66997,734503.0,240.0,0.0,12.0,39.0,1.0,0.0,15.0,1.00,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66998,734503.0,25.0,1.0,3.0,35.0,1.0,0.0,0.0,1.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66999,734503.0,9.0,1.0,8.0,60.0,3.0,1.0,30.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
y_train

0         4510000.0
1        13231000.0
2         2008000.0
3        12680000.0
4         3335000.0
            ...
66995     4275000.0
66996     2624000.0
66997     4682000.0
66998     3794000.0
66999    11049000.0
Name: price, Length: 67000, dtype: float64

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestClassifier

In [17]:
LR = LinearRegression()
LR.fit(X_train, y_train)

LR_pred = LR.predict(X_test)

In [18]:
LR_pred = LR_pred.reshape(-1, 1)

In [19]:
SGDR = SGDRegressor()
SGDR.fit(X_train, y_train)

SGDR_pred = SGDR.predict(X_test)

In [20]:
SGDR_pred = SGDR_pred.reshape(-1, 1)

In [23]:
stack_test = np.hstack((X_test, LR_pred, SGDR_pred))

In [ ]:
RF_stack = RandomForestClassifier(n_estimators = 10)
RF_stack.fit(stack_test, y_test.ravel())

In [632]:
y_test = y["price"]
X_test = y.drop(columns = ["price"])

In [633]:
pred = LR.predict(X_test)
pred

array([ 5786407.62247038,  3470914.8137691 ,  5288326.43659997, ...,
        7171736.240448  , 27021755.53826118,  6274871.11817884])

In [634]:
from sklearn.metrics import mean_absolute_error

In [635]:
mean_absolute_error(y_test, pred)

1996793.469552897